.main-container { 

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 4rem  1fr 4rem ;
  grid-template-rows: 12rem 1fr;
  grid-template-areas: 
  ". header ."
  ". form ."
  ;

  @media screen and (min-width: 900px) {
   
    grid-template-columns: 1fr 3fr;
  }

}

.header { 
  margin-top: 8rem;
  grid-area: header;
  place-self: center;


}

hr { 
  margin-top: 3rem;
}


.contact-form { 
  width: 50%;
  min-width: 25rem;
  grid-area: form;
  place-self: center;
  // border: 1px solid pink;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 1rem;

  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  grid-auto-rows: minmax(3rem, auto);
  row-gap: 1rem;

  @media screen and (min-width: 900px) { 
    max-width: 45rem;
  }
}

.section__contact { 
  grid-column: 1 / -1;


}

.contact-details { 

  // grid-template-rows: repeat(auto-fit, minmax(5rem, 10rem));

  padding: 1rem;
  position: relative;
  border: none;

  display:grid;
  gap: 1rem;

   @media screen and (min-width: 900px) { 
    // display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  & legend { 
    position: relative;
    top: 15px;
    font-size: 2rem;
    font-weight: bold;
  }

  & div:first-of-type, div:nth-of-type(2) { 
    place-self: center left;
  }

  & div input { 
    width: 100%;
    padding: .5rem;
  }
}

label { 
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}


/* change selectors to a class */
input[type='text'], 
input[type='email'], 
input[type='numeric'] {
  // display: block; 
  height:32px;
  background-color: #F3F3F3;
  border-radius: 8px;
  border: none;
  outline: none;

  &:focus, &:active { 
    border: 1px solid pink,
  }
}

#email__wrapper, #phone__wrapper { 
  grid-column: 1 / -1;
}


#pronouns__wrapper, #message__wrapper { 
  grid-column: 1 / -1;
 
  & :nth-child(2) { 
    appearance: none;
    width: 100%;
    font-family: inherit;
    padding: .5rem;
    outline: none;
  }
}

textarea { 
  min-height: 15rem;

}

#submit__wrapper { 
  grid-column: 1 / -1;
  width: 50%;
  place-self: center left;
  margin-top: 1rem;
}

button[type='submit'] { 
  height: 4rem;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #FFA399;

  &:hover { 
    // color: #fff;
  }
}

#sidebar { 
  background-color: #f2d184;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 80px;

  &__header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #866118

  }

  &__image { 
    width: 100%;
    background-image: url('../../assets/images/sign-up.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10rem;
    // margin-top: 50%;
    // padding: 1rem;
    // border-radius: 3rem;
  }

}