*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; 
  
}


html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}



body { 
  // margin: 7rem 0 0 0;
  display: grid;
  grid-auto-flow: row;

@media screen and (max-width: 600px) { 
  
    // margin-top: 7rem;
}

}



